{% extends 'themes/base_admin.html.twig' %}

{% block title %}Liste des services
{% endblock %}

{% block description %}Liste de tous les services
{% endblock %}

{% block keywords %}
	Liste, consulter, services
{% endblock %}

{% block j_query %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block data_tables %}
	<link href="https://cdn.datatables.net/v/bs5/dt-2.3.7/datatables.min.css" rel="stylesheet" integrity="sha384-MnxpJFHU9dTMYXshJqBDA0d93sG4KKAFEEzynAaDqcPP7BYh11O5HxbJ6iLDWOXS" crossorigin="anonymous">

	<script src="https://cdn.datatables.net/v/bs5/dt-2.3.7/datatables.min.js" integrity="sha384-7rAjATpiK3MtvKnoDf5WQz4O8W+3kpl4Jm82apgJgNkeUmZ59yjJT6LqlJpYqhVK" crossorigin="anonymous"></script>

	<script>
		$(document).ready(function () {
$('#myTable').DataTable({
language: {
url: 'https://cdn.datatables.net/plug-ins/2.3.7/i18n/fr-FR.json'
}
});
});
	</script>
{% endblock %}

{% block main %}
	<h1 class="display-6 text-center mb-3">Liste des services</h1>

	{% include 'components/_alert.html.twig' %}


	<div class="d-flex justify-content-end align-items-center my-3">
		<a href="{{path('app_admin_service_create')}}" class="btn btn-brown rounded-0 px-4 py-2">Ajouter un service</a>
	</div>

	<div class="table-responsive">
		<table id="myTable" class="table table-hover table-bordered align-middle">
			<thead class="table-danger">
				<tr>
					<th class="text-center">Image</th>
					<th class="text-center">Service</th>
					<th class="text-center">Prix</th>
					<th class="text-center">Durée</th>
					<th class="text-center">Statut</th>
					<th class="text-center">Dates</th>
					<th class="text-center">Options</th>
				</tr>
			</thead>
			<tbody>
				{% for service in services %}
					<tr>
						<td class="text-center">
							<div class="d-flex justify-content-center align-items-center">
								{% if service.image %}
									<img src="{{ vich_uploader_asset(service, 'imageFile') | imagine_filter('admin_service_thumb')}}" alt="{{ service.name }}" class="img-fluid">
								{% else %}
									<img src="{{ asset('/images/static/no-image.jpg') | imagine_filter('admin_service_thumb') }}" alt="Aucune image" class="img-fluid">
								{% endif %}
							</div>
						</td>
						<td class="text-center">{{ service.name }}</td>
						<td class="text-center">{{ service.price }}
							€</td>
						<td class="text-center">{{ service.displayDuration }}</td>
						<td class="align-middle">
							<div class="d-flex flex-column justify-content-center align-items-center gap-1">
								{% if service.isActive %}
									<p class="badge text-bg-primary">Actif</p>
								{% else %}
									<p class="badge text-bg-secondary">Inactif</p>
								{% endif %}
								<form action="{{ path('app_admin_service_active', {'id': service.id})}}" method="post">
									<div class="form-check form-switch">
										<input type="hidden" name="csrf_token" value="{{ csrf_token('active-service-'~service.id) }}">
										<input class="form-check-input" type="checkbox" role="switch" onclick="return confirm('Confirmez-vous cette action ?')" onchange="this.form.submit()" {{ service.isActive ? 'checked' : ''}}>
									</div>
								</form>
							</div>
						</td>
						<td class="text-center">
							<div class="d-flex flex-column align-items-center gap-1">
								<span>Créé le {{ service.createdAt|format_date(pattern: "dd/MM/yyyy 'à' HH'h'mm") }}</span>
								{% if service.updatedAt != service.createdAt %}
									<span>Mis à jour le {{ service.updatedAt|format_date(pattern: "dd/MM/yyyy 'à' HH'h'mm") }}</span>
								{% endif %}
							</div>
						</td>
						<td class="align-middle">
							<div class="d-flex justify-content-center align-items-center gap-1">
								<a href="{{ path('app_visitor_service_show', {'id': service.id, 'slug': service.slug})}}" target="_blank" class="btn btn-sm btn-outline-dark">Voir</a>
								<a href="{{ path('app_admin_service_edit', {'id': service.id}) }}" class="btn btn-sm btn-secondary">Modifier</a>
								<form action="{{ path('app_admin_service_delete', {'id': service.id})}}" method="POST">
									<input type="hidden" name="csrf_token" value="{{csrf_token('delete-service-'~service.id)}}">
									<input type="submit" value="Supprimer" class="btn btn-sm btn-danger" onclick="return confirm('Confirmez-vous la suppression de ce service ?')">
								</form>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>


{% endblock %}
