{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	Mon panier | Réservation de sessions
{% endblock %}

{% block description %}
	Consultez les sessions que vous avez ajoutées à votre panier et finalisez votre réservation en quelques clics.
{% endblock %}

{% block main %}


	<div class="container py-5" style="max-width: 900px;">
		<h1 class="fs-1 text-center mb-3 cormorant-garamond">Mon panier</h1>
		{% include 'components/_alert.html.twig' %}

		{% if booking and booking.bookItems|length > 0 %}
			{% for bookItem in booking.bookItems %}
				<div class="d-flex align-items-center justify-content-between gap-3 bg-white rounded p-4 mb-2 shadow">
					<div>
						<p class="fw-medium">{{ bookItem.session.service.name }}</p>
						<p class="text-muted small mb-0">
							{{ bookItem.session.startTime|format_datetime(pattern: "dd/MM/yyyy") }}
							—
							{{ bookItem.session.startTime|format_datetime(pattern: "HH'h'mm") }}
							→
							{{ bookItem.session.endTime|format_datetime(pattern: "HH'h'mm") }}
						</p>
						<p class="small d-flex align-items-center gap-3">{{ bookItem.price }}
							€</p>
						<p class="text-muted small mb-0">{{ bookItem.session.location ?? 'Lieu non précisé' }}</p>
					</div>
					<div class="d-flex align-items-center gap-3">
						<form action="{{ path('app_user_booking_remove_item', {'id': bookItem.id}) }}" method="POST">
							<input type="hidden" name="csrf_token" value="{{ csrf_token('booking-remove-' ~ bookItem.id) }}">
							<button type="submit" class="btn btn-danger btn-sm">
								<i class="fa-solid fa-trash"></i>
							</button>
						</form>
					</div>
				</div>
			{% endfor %}

			<div class="d-flex justify-content-between align-items-center mt-4 p-4 bg-white rounded shadow">
				<span class="fw-medium fs-5">Total</span>
				<span class="fw-medium fs-6">{{ booking.totalAmount }}€</span>
			</div>

			<div class="d-flex justify-content-end mt-3">
				<form action="{{ path('app_user_booking_checkout') }}" method="POST">
					<input type="hidden" name="csrf_token" value="{{ csrf_token('booking-checkout') }}">
					<button type="submit" class="btn btn-brown px-4 my-3">Payer</button>
				</form>
			</div>
		{% else %}
			<div class="alert alert-dark text-center">Votre panier est vide.</div>
		{% endif %}
	</div>
{% endblock %}
