{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Prestations - Bloom Atelier
{% endblock %}

{% block description %}Découvrez toutes les prestations proposées par Bloom Atelier.
{% endblock %}

{% block keywords %}Bloom Atelier, maquillage, prestations, sessions de maquillage, atelier beauté
{% endblock %}

{% block main %}
	<div class="container py-5">
		<h1 class="display-6 text-center mb-5 cormorant-garamond">Nos
			<span class="pink display-6 cormorant-garamond">prestations</span>
		</h1>

		<p class="text-center text-muted my-5">Découvrez des expériences beauté personnalisées, pensées pour révéler votre style et vous accompagner à chaque étape.</p>

		<div class="row g-4">
			{% for service in services %}
				<div class="col-12 col-md-6 col-lg-4">
					<div class="card border-0 shadow-sm h-100">
						<div class="position-relative overflow-hidden">
							{% if service.image %}
								<img src="{{ vich_uploader_asset(service, 'imageFile') }}" alt="{{ service.name }}" class="card-img-top custom-img-card">
							{% else %}
								<img src="{{ asset('images/static/maq.jpg') }}" class="card-img-top custom-img-card" alt="Image par défaut du service {{ service.name }}">
							{% endif %}
						</div>
						<div class="card-body d-flex flex-column p-4">
							<h2 class="fs-5 card-title fw-semibold mb-3">{{ service.name }}</h2>
							<p class="card-text text-muted small flex-grow-1">{{ service.shortDescription }}</p>
							<div class="text-end mt-auto pt-3 border-top">
								<a href="{{ path('app_visitor_service_show', {'id': service.id, 'slug':service.slug}) }}" class="btn btn-brown px-3 rounded-0">Découvrir →</a>
							</div>
						</div>
					</div>
				</div>
			{% else %}
				<p class="text-center text-muted">Aucune prestation disponible pour le moment.</p>
			{% endfor %}
		</div>
	</div>

	<!-- Demande spécifique -->

	<section>
		<div class="container-fluid py-5 bg-beige">
			<div class="text-center">
				<h2 class="display-6 fw-light cormorant-garamond">Vous avez une demande spécifique ?</h2>
				<p>Nous pouvons adapter nos prestations à vos besoins particuliers.</p>
				<a href="{{ path('app_visitor_contact_index') }}" class="btn btn-brown rounded-0 px-4 py-2 text-light">Écrivez-nous</a>
			</div>
		</div>
	</section>
{% endblock %}
