{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modification du profil
{% endblock %}

{% block description %}Modifier les informations du profil
{% endblock %}

{% block main %}
	<h1 class="display-6 text-center mb-3 cormorant-garamond">Modification du profil</h1>

	<div class="d-flex justify-content-end align-items-center my-5">
		<a href="{{ path('app_admin_profile_index') }}" class="btn btn-brown rounded-0 px-4 py-2">← Retour</a>
	</div>

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-10 col-lg-5 mx-auto p-4 shadow bg-light">
				{{ form_start(profileForm) }}
				<div class="mb-3">
					<label for="profile_form_firstName" class="form-label">Prénom
						<span class="text-danger">*</span>
					</label>
					{{ form_widget(profileForm.firstName) }}
					<div class="text-danger">{{ form_errors(profileForm.firstName) }}</div>
				</div>
				<div class="mb-3">
					<label for="profile_form_lastName" class="form-label">Nom
						<span class="text-danger">*</span>
					</label>
					{{ form_widget(profileForm.lastName) }}
					<div class="text-danger">{{ form_errors(profileForm.lastName) }}</div>
				</div>
				<div class="text-center mt-4">
					<input formnovalidate type="submit" value="Modifier" class="btn btn-dark w-25">
				</div>
				{{ form_end(profileForm) }}
			</div>
		</div>
	</div>


{% endblock %}
