{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block description %}Modifier le mot de passe{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Modification du mot de passe</h1>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-lg-5 mx-auto p-4 shadow bg-light">
                {{ form_start(passwordProfileForm) }}
                    <div class="mb-3">
                        <label for="edti_password_profile_form_currentPassword">Mot de passe actuel<span class="text-danger">*</span></label>
                        {{ form_widget(passwordProfileForm.currentPassword) }}
                        <div class="text-danger">{{ form_errors(passwordProfileForm.currentPassword) }}</div>
                    </div> 
                    <div class="mb-3">
                        <label for="edti_password_profile_form_plainPassword_first">Nouveau mot de passe<span class="text-danger">*</span></label>
                        {{ form_widget(passwordProfileForm.plainPassword.first) }}
                        <small>Au moins une lettre minuscule, majuscule, un chiffre et un caractère spécial.</small>
                        <div class="text-danger">{{ form_errors(passwordProfileForm.plainPassword.first) }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="edti_password_profile_form_plainPassword_second">Confirmation du nouveau mot de passe<span class="text-danger">*</span></label>
                        {{ form_widget(passwordProfileForm.plainPassword.second) }}
                        <div class="text-danger">{{ form_errors(passwordProfileForm.plainPassword.second) }}</div>
                    </div>
                    <div class="text-center">
                        <input formnovalidate type="submit" value="Modifier" class="btn btn-primary shadow w-100">
                    </div>                              
                {{ form_end(passwordProfileForm) }}
            </div>
        </div>
    </div>
    
    
{% endblock %}
