{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block description %}Modifier le mot de passe{% endblock %}

{% block main %}
    <h1 class="display-6 text-center mb-3 cormorant-garamond">Modification du mot de passe</h1>

	<div class="d-flex justify-content-end align-items-center my-5">
		<a href="{{ path('app_admin_profile_index') }}" class="btn btn-brown rounded-0 px-4 py-2">← Retour</a>
	</div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-lg-5 mx-auto p-4 shadow bg-light">
                {{ form_start(passwordProfileForm) }}
                    <div class="mb-3">
                        <label for="edti_password_profile_form_currentPassword" class="form-label">Mot de passe actuel<span class="text-danger">*</span></label>
                        {{ form_widget(passwordProfileForm.currentPassword) }}
                        <div class="text-danger">{{ form_errors(passwordProfileForm.currentPassword) }}</div>
                    </div> 
                    <div class="mb-3">
                        <label for="edti_password_profile_form_plainPassword_first" class="form-label">Nouveau mot de passe<span class="text-danger">*</span></label>
                        {{ form_widget(passwordProfileForm.plainPassword.first) }}
                        <small>Au moins une lettre minuscule, majuscule, un chiffre et un caractère spécial.</small>
                        <div class="text-danger">{{ form_errors(passwordProfileForm.plainPassword.first) }}</div>
                    </div>
                    <div class="mb-3">
                        <label for="edti_password_profile_form_plainPassword_second" class="form-label">Confirmation du nouveau mot de passe<span class="text-danger">*</span></label>
                        {{ form_widget(passwordProfileForm.plainPassword.second) }}
                        <div class="text-danger">{{ form_errors(passwordProfileForm.plainPassword.second) }}</div>
                    </div>
                    <div class="text-center">
                        <input formnovalidate type="submit" value="Modifier" class="btn btn-dark w-25">
                    </div>                              
                {{ form_end(passwordProfileForm) }}
            </div>
        </div>
    </div>
    
    
{% endblock %}
