{% extends 'themes/base_admin.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block description %}Consulter les détails de mon profil{% endblock %}

{% block main %}
    <h1 class="display-6 text-center mb-3 cormorant-garamond">Mon profil</h1>

	{% include 'components/_alert.html.twig' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-10 col-lg-7 mx-auto p-5 shadow bg-light">
                <div>
                    <p><strong>Prénom </strong>: {{ app.user.firstName }}</p>
                    <p><strong>Nom </strong>: {{ app.user.lastName }}</p>
                    <p><strong>Email </strong>: {{ app.user.email }}</p>
                    <div class="d-flex justify-content-center align-items-center gap-2 mt-4">
                        <a href="{{path('app_admin_profile_edit')}}" class="btn btn-dark">Modifier mon profil</a>
                        <a href="{{path('app_admin_profile_password_edit')}}" class="btn btn-dark">Modifier mon mot de passe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{% endblock %}
