{% extends 'themes/base_admin.html.twig' %}

{% block title %}Modifier les paramètres du site
{% endblock %}

{% block description %}Modification des paramètres du site
{% endblock %}

{% block main %}
	<h1 class="display-6 text-center mb-3 cormorant-garamond">Modification des paramètres du site</h1>

	{% include 'components/_alert.html.twig' %}

	<div class="d-flex justify-content-end align-items-center my-5">
		<a href="{{ path('app_admin_setting_index') }}" class="btn btn-brown px-4 py-2">← Retour</a>
	</div>

	<div class="container mt-5">
		<div class="row">
			<div class="col-md-10 col-lg-5 mx-auto p-4 shadow container-bg">
				{{ form_start(settingForm) }}
				<div class="mb-3">
					<label for="setting_form_email" class="form-label">Email</label>
					{{ form_widget(settingForm.email) }}
					<div class="text-danger">{{ form_errors(settingForm.email) }}</div>
				</div>
				<div class="mb-3">
					<label for="setting_form_phone" class="form-label">Téléphone</label>
					{{ form_widget(settingForm.phone) }}
					<div class="text-danger">{{ form_errors(settingForm.phone) }}</div>
				</div>
				<div class="d-flex justify-content-center align-items-center">
					<input formnovalidate type="submit" value="Modifier" class="btn btn-brown px-4 py-2 w-25">
				</div>
				{{ form_end(settingForm) }}
			</div>
		</div>
	</div>

{% endblock %}
