<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} - Bloom Atelier</title>
		

		{# SEO #}
		<meta name="robots" content="index, follow">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">
		<meta name="author" content="Sarah Thomas">
		<meta name="publisher" content="Enuossian">


		{# Google Font #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		{# Favicon #}


		{# WebpackEncore CSS #}
			{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{# WebpackEncore JS #}
			{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}

		{# Font Awesome #}
		{% block font_awesome %}{% endblock %}
		
	</head>
		<body class="home-body">
		{# Navbar #}

			<nav class="navbar navbar-expand-lg shadow"> 
				<div class="container-fluid">
				<a class="navbar-brand" href="{{path('visitor_home_index')}}">Bloom Atelier</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{path('visitor_home_index')}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('visitor_home_concept')}}">Concept</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_visitor_service_index')}}">Prestations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_visitor_contact_index')}}">Contact</a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">
					{% if app.user %}
						{% if is_granted('ROLE_ADMIN') %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_admin_home')}}">Espace admin</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_USER') %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_user_home')}}">Espace privé</a>
							</li>
						{% endif %}

						<li class="nav-item">
							<a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_register')}}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_login')}}">Connexion</a>
						</li>
					{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_user_booking_index')}}">Panier</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		{# Main #}
        <main>
			{% block main %}{% endblock %}
        </main>

		{# Footer #}
        <footer class="text-center">
            <p>Enuossian</p>
			<a href="{{path('visitor_home_cgv')}}">CGV</a>
			<a href="{{path('visitor_home_mentions')}}">Mentions légales</a>
        </footer>
	</body>
</html>
